{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/services.js"></script>
  <script src="{{ STATIC_URL }}js/filters.js"></script>
  <script src="{{ STATIC_URL }}js/directives.js"></script>
{% endblock %}
{% block content %}

  <div ng-header></div>

  <div class="padded-content">
    <div id="main-content" class="container">
<!--
      <div class="row">
        <div class="span12">
          <div class="pending-bg" pending-bar>
            <div class="alert alert-warning">loading ...</div>
          </div>
        </div>
      </div> -->
      <!-- <ng-view view-state></ng-view> -->
      <div ng-view></div>
    </div>
  </div>

<div ng-footer></div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript"></script>
{% endblock %}