{% extends "base.html" %}
{% load i18n %}
{% block extra_head %}
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/services.js"></script>
  <script src="{{ STATIC_URL }}js/filters.js"></script>
  <script src="{{ STATIC_URL }}js/directives.js"></script>
{% endblock %}
{% block content %}


  <div ng-header></div>

  <div id="main-content" class="container">

    <div ng-view></div>

  </div>


<div ng-footer></div>
{% endblock %}
{% block extra_content %}
<script type="text/javascript"></script>
{% endblock %}